<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="com.nishanthan.Alien">
        <property name="framework" value="spring" ></property>
        <property name="laptop" ref="laptop" ></property>
        <constructor-arg value="Software Engineer" ></constructor-arg>
        <constructor-arg value="2.5" ></constructor-arg>
    </bean>
    <bean id="vehicle" class="com.nishanthan.Vehicle" scope="prototype"></bean>
    <bean id="laptop" class="com.nishanthan.Laptop"></bean>

</beans>